body{
  background-color: #FCFFDF;
  margin: 0;
  }
  #images{
    padding: 20px;
    width: 100%;
    
margin: 0 auto;
  }
  #footer{
    text-align: center;
  padding: 3px;
  background-color: #89C7E7;
  color: white;
  width: 100%;
  }
  #images img {
  
    display: inline-block;
    width: 250px;
    height: 250px;
    margin-left: 180px;
border-radius: 30px;
    border: #89C7E7 solid 3px;
  }
img:hover{
  animation: shake 0.5s;
}
  
  #div1{
    padding: 20px;
    width: 70%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
text-align: center;
margin: 0 auto;
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  td, th {
    border: 3px solid #89C7E7;
    text-align: center;
    font-size: larger;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: navajowhite;
  }
  #div1 #roundNo{
    background-color: transparent;
    padding: 20px;
    width: 40%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
text-align: center;
margin: 0 auto;
border-radius: 20px;

  }
ul{
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
  #subA{
    background-color: #89C7E7;
    padding: 20px;
    width: 20%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
text-align: center;
margin: 0 auto;
border-radius: 20px;
  }
  #subB{
    border-radius: 20px;

    background-color: #89C7E7;
    padding: 20px;
    width: 20%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
text-align: center;

visibility: hidden;
  }
  select{
      
      background-color: transparent;
      padding: 20px;
      margin: auto;
      width: 20%;
      font-family: inherit;
      font-size: inherit;
      cursor: inherit;
      line-height: inherit;
  text-align: center;
  display: block;
  margin: 0 auto;
  }
  
  
  footer {
    max-width: 1060px;
    margin : 0 auto;
  }
  #select-graph {
    visibility: hidden;
    border:solid 3px #89C7E7;
    
  }
  
  
  footer  {
    text-align: center;
  }
   #select-graph a:hover {
    background-color: red;
  }
  
  #myChart2,#myChart3,#myChart4,#myChart5 {
    visibility: hidden;
    
  
  }
  .container{
    background-color: transparent;
    margin:auto 0;
    width: 100%;
  }
  .canvas-block {
    display: block;
    margin: 0px;
  }
  
  #next-button{
    color: #000;
    margin: 50px;
    text-decoration: none;
    padding: 4px 13px 10px;
    border-radius: 50%;
    background-color: #ddd;
    border: 2px solid #000;
    font-size: 30px;
    font-weight: bold;
  
  }
  #prev-button{
    color: #000;
    margin: 50px;
    text-decoration: none;
    padding: 4px 13px 10px;
    border-radius: 50%;
    background-color: #ddd;
    border: 2px solid #000;
    font-size: 30px;
    font-weight: bold;
  }
  

  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }