body{
background-color: bisque;
}
 #images{
    margin: auto;
    width: 60%;
    
 }
 #images img{
width: 350px;
height: 350px;
}
#div1{
    margin: auto;
    width: 60%;
}
select{
    
    background-color: transparent;
    padding: 20px;
    margin: auto;
    width: 20%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
text-align: center;
display: block;
margin: 0 auto;
}